* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    align-items: center;
}

.item1 {
    box-shadow: 1px 1px 1px 1px #888888;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
    position: relative;
    gap: 10px;
}

.box3 {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    justify-content: center;
    gap: 50px;
    padding: 40px;
    align-items: center
}

.box4 {
    margin-top: 5px;
    overflow: hidden;
}