* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.part1 {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    background: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    cursor: pointer;
    list-style: none;
    color: black;
    position: fixed;
    line-height: 50px;
    margin: 0px 0px;
}

button {
    background-color: #567;
    cursor: pointer;
    padding: 20px;
    width: 30%;
    margin-top: 10px;
}

a {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

p {
    color: #555;
    font-family: "archivo narrow", helvetica, sans-serif;
}

.sub {
    display: block;
    color: white;
    justify-content: center;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.part2 {
    background-image: url(https://st.depositphotos.com/1428083/2946/i/600/depositphotos_29460297-stock-photo-bird-cage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.sub1 {
    position: absolute;
    padding: 40px;
    margin: 20vh 10vw 70vh 60vw;
    background-color: white;
    background-attachment: fixed;
}

.dot {
    display: block;
    cursor: pointer;
    height: 13px;
    width: 13px;
    padding: 5px;
    background-color: black;
    border-radius: 50%;
    margin-left: -650px;
    margin-top: 20px;
    border: 5px solid black;
    transition: background-color 0.6s ease;
    transform: ;
}

.active,
.dot:hover {
    background-color: white;
}

.epf {
    background-color: transparent;
    transition: all .4s cubic-bezier(.7, 0, .3, 1);
}

footer {
    display: flex;
    height: 300px;
    margin-left: 200px;
    padding: 80px;
}