* {
    margin: 0px;
    padding: 0px;
}

.part1 {
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
}

ul {
    cursor: pointer;
    list-style: none;
    color: black;
    position: fixed;
    padding: 200px 0px 0px 40px;
    line-height: 30px;
}


/* li {
            list-style: circle;
            color: blanchedalmond;
            line-height: 30px;
    
        } */

#avg {
    font-size: 40px;
}

button {
    background-color: grey;
    padding: 20px;
    width: 30%;
    margin-top: 10px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.sub {
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    padding: 250px;
}

.part2 {
    background-image: url(https://st.depositphotos.com/1428083/2946/i/600/depositphotos_29460297-stock-photo-bird-cage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.sub1 {
    position: absolute;
    padding: 40px;
    margin: 20vh 10vw 70vh 60vw;
    background-color: white;
}

.part3 {
    background-image: url(https://thumbs.dreamstime.com/b/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-gra-130247647.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.part4 {
    background-image: url(https://images3.alphacoders.com/823/thumb-1920-82317.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.part5 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRTOka7yiD9kwnZGsEZR6-w40z2R9obqb8-g&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.part6 {
    background-image: url(https://wallpapercave.com/wp/wp2904877.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-table;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: white;
}

.part7 {
    background-image: url(https://cdn.pixabay.com/photo/2014/02/27/16/10/tree-276014__340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    text-align: center;
}